<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.chaitanya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chaitanya_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Language" />
        <activity android:name=".EN_generalinfo" />
        <activity android:name=".EN_personalinfo" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".EN_entitlements" />
        <activity android:name=".EN_occupation" />
        <activity android:name=".ProjectActivity" />
        <activity android:name=".HI_generalinfo" />
        <activity android:name=".HI_personalinfo" />
        <activity android:name=".EN_fwwbbasic" />
        <activity android:name=".LivestockActivity" />
        <activity android:name=".EN_FamilyIncome" />
        <activity android:name=".EN_source_of_credits" />
        <activity android:name=".EN_migration" />
        <activity android:name=".EN_food_security" />
        <activity android:name=".EN_social_security_scheme" />
        <activity android:name=".HI_entitlements" />
        <activity android:name=".HI_occupation" />
        <activity
            android:name=".EN_Livelihood_scheme"
            android:label="EN_livelihood_scheme" />
        <activity android:name=".EN_agriculture_inputs" />
        <activity android:name=".EN_ds_basic" />
        <activity android:name=".EN_ds_brand_awarness" />
        <activity android:name=".EN_leadership" />
        <activity android:name=".EN_ds_financial" />
        <activity android:name=".EN_ds_household_finance" />
        <activity android:name=".EN_ds_loan" />
        <activity android:name=".EN_fwwbsaving" />
        <activity android:name=".EN_fwwbdigital" />
        <activity android:name=".EN_fwwbenterprise" />
        <activity android:name=".EN_ds_business"></activity>
    </application>

</manifest>